<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
        <meta name="author" content="order by dede58.com"/>
		<title>用户注册</title>
		<link rel="stylesheet" type="text/css" th:href="@{/static/css/login.css}">

	</head>
	<body>
		<form  th:method="post" th:action="@{/user/register}" th:object="${user}">
		<div class="regist">
			<div class="regist_center">
				<div class="regist_top">
					<div class="left fl">会员注册</div>
					<div class="center fc"><span style="background-color: #c9302c" th:text="${msg}" width="60px" height="35px"></span></div>
					<div class="right fr"><a href="/index" target="_self">小米商城</a></div>
					<div class="clear"></div>
					<div class="xian center"></div>
				</div>
				<div class="regist_main center">
					<div class="username">用&nbsp;&nbsp;户&nbsp;&nbsp;名:&nbsp;&nbsp;<input class="shurukuang" type="text" name="uName" placeholder="请输入你的用户名"/>
						<span th:errors="${user.uName}" th:style="'color:red'">不要为空</span></div>
					<div class="username">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码:&nbsp;&nbsp;<input class="shurukuang" type="password" name="uPassword" placeholder="请输入你的密码"/>
						<span th:errors="${user.uPassword}" th:style="'color:red'">请输入2到15个字符</span></div>
					<div class="username">手&nbsp;&nbsp;机&nbsp;&nbsp;号:&nbsp;&nbsp;<input class="shurukuang" type="text" name="uPhone" placeholder="请填写正确的手机号"/>
						<span th:errors="${user.uPhone}" th:style="'color:red'">填写下手机号吧，方便我们联系您！</span></div>
				</div>
				<div class="regist_submit">
					<input class="submit" type="submit" name="submit" value="立即注册" >
				</div>
				
			</div>
		</div>
		</form>
	</body>
</html>